/*
fonts 

font-family: 'Quicksand', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Poiret One', cursive;

colors

Dark Green #228b22
Bun #F19A2B
Lettuce #85BA42
Tomato #E5512E
Cheese #F6CD30
Meat #7F441C

*/

html {
	background-color:black;
}

body {
	position:absolute;
	border-radius:50%;
	top:10%;
	left:30%; 
	background-color:white;
	border:5px solid #228b22;
	width:500px;
	height:500px;
}

.burger {
	position: absolute;
	top: 49%;
	left: 77%;
	transform: translate(-50%, -50%);
}

.burger {
	transform: translate(-50%, -50%) scale(0.66);
}
	
.burger &::before {
	content: '';
	width: 300px;
	height: 300px;
	background-color: #FCF9E5;
	border-radius: 100%;
}
	
div {
	left: 50%;
	transform: translateX(-50%);
}
	
.bun {
	background-image: linear-gradient(#F9C82E, #F19A2B);
	width: 420px;
    height: 90px;
    border-radius: 120px 120px 0 0;
}

.lettuce {
	width:420px;
	height: 12px;
	background-color: #85BA42;
	border-radius: 5px;
	border-top: 2px solid #78A83A;
}
.tomato {
	text-align:center;
	color:white;
	width: 400px;
	height: 60px;
	background-color: #E5512E;
	border-radius: 3px;
	border-top: 4px solid #D1482C;
}

.tomato a {
	font-family:'Poiret One', cursive;
	font-size:50px;
	color:white;
	text-decoration:none;
}

.meat {
	width: 400px;
	height: 20px;
	background-color: #7F441C;
	border-radius: 30px;
	border-top: 2px solid #6D4020;
}

.top {
	height: 22px;
}

.cheese {
	width: 420px;
	height: 10px;
	background-color: #F6CD30;
	border-top: 2px solid #EAB82D;
}

.bun-bottom {
	background-color: #F19A2B;
	width: 420px;
	height: 50px;
	border-radius: 25px 25px 120px 120px;
}
